# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Builds
dist/
build/
html-export/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
